* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: "Microsoft Sans Serif", sans-serif;
    font-weight: 500;
    font-style: normal;
    background: rgb(163, 202, 222);
    min-width: 400px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 14px;
}
.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    position: relative;
}
.todo__title {
    font-size: 52px;
    letter-spacing: 5px;
    padding: 0 0 30px;
    color: rgb(163, 202, 222);
    text-shadow: -2px 2px 0 #fdfbfa, 2px 2px 0 #fa9006, 2px -2px 0 #184afc, -2px -2px 0 #319cd3;
}
.todo__item {
    background-color: rgba(255, 255, 255, 0.28);
    border-radius: 12px;
    width: 76%;
    max-width: 580px;
    min-width: 280px;
    padding: 12px 18px 0 18px;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}
.todo__item_margin {
    margin-bottom: 12px;
}
.todo__item_wrap {
    flex-wrap: wrap;
    padding-bottom: 18px;
}
.todo__img {
    width: 60%;
    position: absolute;
    top: 0;
    left: -16%;
    z-index: -1;
}
.todo__input-wrapper {
    width: 100%;
    display: flex;
}
.todo__input-wrapper_column {
    flex-direction: column;
}
.todo__input {
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 6px 10px;
}
.todo__input:focus-visible {
    outline: none;
}
.error {
    border: 1px solid #ff0505;
}
.todo__input-span {
    height: 20px;
    padding: 2px 0 4px 4px;
    color: #ff0505;
    font-size: 12px;
}
.todo__btn-x {
    cursor: pointer;
    height: 30px;
    width: 30px;
    color: #faa406;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    background: none;
}
.todo__btn-x:hover {
    background-color: rgba(5, 38, 161, 0.52);
    transition-duration: 0.3s;
}
.todo__btn {
    min-width: 74px;
    max-height: 30px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    background-color: #faa406;
    border: none;
    border-radius: 0 6px 6px 0;
    padding: 6px 14px;
}
.todo__btn_left {
    border-radius: 6px 0 0 6px;
    margin-right: 4px;
}
.todo__btn_margin {
    margin-left: 6px;
}
.todo__btn:hover {
    background-color: rgba(5, 38, 161, 0.52);
    transition-duration: 0.3s;
}
.todo__wrapper {
    margin-bottom: 12px;
    align-items: center;
    padding: 12px 18px 20px 18px;
}
.todo__row {
    display: flex;
    align-items: center;
    width: 100%;
}
.todo__text {
    padding: 0 8px;
    color: #313336;
}
@media (max-width: 991px) {
    .todo__img {
        width: 40%;
        top: 0;
        left: -6%;
    }
}